*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://i.pinimg.com/564x/00/f0/af/00f0af4fda9110b9babecc93ac0d0b90.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 30px 0;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logotipo{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    color:rgb(90, 90, 90);
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}
header nav a:hover,
header nav a.activo{
    color: #fff;
}
.div-1{
    font-size: 16px;
    min-height: 70vh;
    color: #fff;
    margin-bottom:2rem;
    display: flex;
    align-items: end;
}
.div-1 .contenedor{
    margin-bottom:4rem; 
}
.div-1 .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.div-1 .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height:1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 'img1  img2  img3';
    background-color: rgb(196, 196, 196);
}
.img1{
    grid-area: img1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img2{
    grid-area: img2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img3{
    grid-area: img3;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.texto{
    background-color: rgb(196, 196, 196);
    text-align: center;
}
.texto h2{
    padding-top: 10px;
}
.texto p{
    padding: 20px;
    font-size: 20px;
}
@media screen and (max-width:800px){
    header .logotipo{
        margin-bottom: 2rem;
    }
    header .contenedor{
        flex-direction: column;
        text-align: center;
    }
}