*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.background-image{
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,.50) 100%), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F1273780.jpg&f=1&nofb=1);
    box-shadow: inset 0 0 500px #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}
.contenedor{
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}
header i{
    padding-right: 7px;
}
header .contenedor{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #fff;
    margin-right: 3.12em;
}
header nav a:hover{
    border-bottom: 1px solid black;
}

.contenedor_texto{
    font-size: 16px;
    color: #fff;
}
.contenedor_texto .titulo{
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    margin-top: 2em;
}
.contenedor_texto .subtitulo{
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin-top: 0.31em ;
}
.section{
    background-color: rgba(0, 0, 0, 0.952);
    box-shadow:  0 0 100px #070707;
}
.section .contenedor_texto{
    text-align: center;
}
.section .contenedor_texto h2{
    font-size: 2em;
    padding-top: 1em;
}
.section .contenedor_texto p{
    margin: 1em 20em;
}
.contenedor_img{
    margin: 2em 0;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 500px);
    grid-template-areas: 
    'img1  img2  img3';
}
.img1{
    grid-area: img1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img2{
    grid-area: img2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img3{
    grid-area: img3;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.more{
    text-align: center;
    font-weight: 300;
    color: rgb(0, 39, 56);
    cursor: pointer;
}
.contenedor_texto .h2{
    margin-top: 3em;
}
.single-team{
    position: relative;
    display: flex;
    align-items: center;
    align-items: flex-end;
    transition: .6s ease-out;
}
.single-team:hover{
    transform: translateY(15px);
}
.single-team:hover::before{
    opacity: 1;
}
.single-team:hover .team-text{
    opacity: 1;
    transform: translateY(0);
}
.single-team::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    
}
.single-team .team-text{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform:0.5s;
}
.team-text h2{
    margin: 0 0 0 5px;
    letter-spacing: 3px;
}
.team-text p {
    margin: 10px 0 0 5px;
    letter-spacing: 4px;
}
.team-text button{
    cursor: pointer;
    height: 30px;
    border: 1px solid #20678d;
    color: #fff;
    background: linear-gradient(45deg, #20678d,#2991ea);
    padding: 10px;
    margin-bottom: 10px;
}
.team-text button i{
    padding-left:5px;
    color: #fff;
}
.single-team img{
    position: absolute;
    top: 0;
    left: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,300px);
    grid-gap: 1.5em;
    grid-template-areas: 
    'imagen1  imagen2'
    'texto1   texto2';
    margin-top: 2em;
}
.imagen1{
    grid-area: imagen1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imagen2{
    grid-area: imagen2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.grid__textos{
    grid-area: texto1;
    text-align: center;
    margin-top: 1em;
    color: aliceblue;
}
.grid__textos2{
    grid-area: texto2;
    text-align: center;
    color: aliceblue;
    margin-top: 1em;
}
.grid h2{
    margin-top: 0.31em;
}
.grid h5, p{
    margin-top: 1em;
}
footer{
    
    background-color: black;
}
.imagen{
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.theallineed.com%2Fwp-content%2Fuploads%2F2018%2F01%2FMontana-river.jpg&f=1&nofb=1);
    box-shadow: inset 0 0 500px #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh;
}
.footer_texto{
    color: white;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: rgb(0, 0, 0);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    color: white;
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}
.productoEnCarrito p {
    color: white;
}
.boton-eliminar {
    color: rgba(255, 72, 72, 0.945);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

@media (max-width: 1000px){
    .body{
        font-size:15px;
    }
}
@media (max-width: 800px){
    .body{
        font-size:12px;
    }
    .contenedor_texto .titulo{
        font-size: 4em;
    }
    .background-image{
        min-height: 70vh;
    }
    header .logo{
        margin-bottom: 2rem;
    }
    header .contenedor{
        flex-direction: column;
        text-align: center;
    }
    .section .contenedor_texto p{
        margin: 1em 7em;
    }
    .footer_texto h4{
        margin-left: 1em;
    }
}

@media (max-width: 540px){
    body{
        font-size: 10px;
    }
    .footer_texto{
        display:inline-block;
        text-align: center;
    }
    .footer_texto h4{
        margin-top: 1em;
    }
    .grid{
        display: grid;
        grid-template-rows: repeat(2,200px);
        grid-template-areas: 
        'imagen1 texto1' 
        'imagen2 texto2' ;
        margin:2em 0;
    }
}